# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: default

steps:
- task: UseDotNet@2
  displayName: Use dotnet 7.x
  inputs:
    packageType: 'sdk'
    version: '7.x'

- task: DotNetCoreCLI@2
  displayName: dotnet build
  inputs:
    command: 'build'
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  displayName: dotnet publish
  inputs:
    command: 'publish'
    projects: '**/*.csproj'
    publishWebProjects: False
    zipAfterPublish: False

- task: PowerShell@2
  displayName: Test PowerShell cmdlet
  inputs:
    targetType: 'inline'
    script: |
      Import-Module .\bin\Debug\netstandard2.0\publish\Switch_Config_Helper.dll
      
      Test-SampleCmdlet -FavoriteNumber 5