# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: default

steps:
- task: UseDotNet@2
  displayName: Use dotnet 7.x
  inputs:
    packageType: 'sdk'
    version: '7.x'

- task: DotNetCoreCLI@2
  displayName: dotnet build
  inputs:
    command: 'build'
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  displayName: dotnet publish
  inputs:
    command: 'publish'
    projects: '**/*.csproj'
    publishWebProjects: False
    zipAfterPublish: False

- task: PowerShell@2
  displayName: Verify psd1 RequiredAssemblies
  inputs:
    targetType: 'inline'
    script: |
      $psd1 = Import-PowerShellDataFile .\bin\Debug\netstandard2.0\SwitchConfigHelper.psd1
      $published_assemblies = (Get-ChildItem -File -Path .\bin\Debug\netstandard2.0\publish\* -Include *.dll -Exclude $psd1['RootModule']).Name
      $comparison = Compare-Object $psd1['RequiredAssemblies'] $published_assemblies
      If ($comparison)
      {
        Write-Error "The RequiredAssemblies in the PowerShell module manifest do not match those in the publish folder: $comparison"
      }

- task: PowerShell@2
  displayName: Test PowerShell cmdlet
  inputs:
    targetType: 'inline'
    script: |
      Import-Module .\bin\Debug\netstandard2.0\publish\SwitchConfigHelper.psd1
      
      Test-SampleCmdlet -FavoriteNumber 5